/*用户信息 user.html
 ------------------------------*/
.user-page {
	
}
.user-page .user-info {
	height:14.666666rem;
	padding: 1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.user-page .user-avatar {
	width: 6.666666rem;
	height: 6.666666rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 1rem auto;
}

.user-page .user-avatar img{
	width: 100%;
	height: 100%;
}

.user-page .user-info p {
	text-align: center;
	font-size: 1rem;
	color: #333;
}
.user-page .user-info-footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 1.791666rem;
}
.user-page .user-info-footer p {
	font-size: 1.25rem;
	text-align: center;
}
.user-page .user-info-footer span{
	font-size: 1.25rem;
	color: #38ADFF;
}
.user-list {
	margin: 0.833333rem 0;
}
.user-list li {
	height: 4.166666rem;
	line-height: 4.166666rem;
	background: #fff;
	border-bottom: 1px solid #f4f4f4;
	clear: both;
}
.user-list li span:first-child {
	color:#333;
	font-size: 1.25rem;
}
.user-list li span:nth-child(2) {
	padding: 0 1rem;
	color:#38ADFF;
	font-size: 1.083333rem;
	display: none;
}
.user-list li .select {
	color:#F56954;
	font-size: 1.083333rem;
}
.user-list li .select i{
	display: inline-block;
	width: 0.708333rem;
	height: 1.25rem;
	background: url(../images/common/icon_right.png) no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-left: 1rem;
}


/*修改手机号 editpw.html
 ------------------------------*/
.editphone-page .form-group em {
	display: inline-block;
}
.editphone-page .icon-phone {
	display: inline-block;
	width:0.833333rem;
	height: 1.416666rem;
	background: url(../images/icon_phone.png) no-repeat;
	background-position:center center;
	background-size:100% 100% ;
	vertical-align: middle;
	margin-right: .5rem;
}
.editphone-page .current-phone {
	color:#ccc;
}

/*意见反馈 opinion.html
 ------------------------------*/
.opinion-page .opinion-wrap {
	width: 29.25rem;
	height: 15.833333rem;
	margin: 1.041666rem auto;
}
.opinion-page .opinion-wrap textarea {
	width: 27.25rem;
	height: 13.833333rem;
	border:1px solid #e5e5e5;
	resize: none;
	font-size: 1.166666rem;
	line-height: 2rem;
	color: #333;
	padding: 1rem;
}
.opinion-page .user-contact {
	width: 100%;
	/*padding: 0 1rem;*/
	height: 3.75rem;
	background: #fff;
	/*overflow: hidden;*/
}
.opinion-page .user-contact span {
	font-size: 1.166666rem;
	color: #333;
	/*text-indent: 1rem;*/
}
.opinion-page .user-contact input {
	border: none;
	font-size: 1.166666rem;
	height: 1.75rem;
	line-height: 1.75rem;
	padding: 1rem .5rem;
	color: #333;
}

/*关于我们 about_us.html
 ------------------------------*/
.aboutus-page {
	
}
.aboutus-page .company-wrap {
	background: #fff;
	padding: 2rem;
	font-size: 1.083333rem;
	line-height: 2rem;
}
.aboutus-page .company-wrap .logo{
	margin: 0 auto;
	text-align: center;
}

.aboutus-page .company-wrap .logo img{
	width: 5rem;
	height:5rem;
	margin: 0 auto;
}
.aboutus-page .company-wrap .logo p{
	text-align: center;
	color: #333;
}


/*证件拍照识别  bind_car.html/bind_drivercard.html */
.ocr-wrap {
	height: 18.75rem;
	background: #fff;
	border-bottom: 1px solid #f4f4f4;
}
.ocr-wrap-notice {
	height: 3rem;
	line-height: 3rem;
	padding: 0 2rem;
}
.ocr-wrap-notice em {
	display: inline-block;
	width: 1.25rem;
	height: 1.041666rem;
	background: url(../images/icon_ocr.png) no-repeat;
	background-position:center center;
	background-size:100% 100% ;
	vertical-align: middle;
}
.ocr-wrap-notice span {
	text-align: center;
	padding-left: .5rem;
}
.ocr-wrap-imgbox {
	width: 27.583333rem;
	height: 14.583333rem;
	border: 1px solid #ccc;
	margin: 0 auto;
	border-radius: 0.333333rem;
}

.ocr-wrap-imgbox p {
	text-align: center;
	font-size: 1rem;
	line-height: 2.625rem;
	font-weight: bold;
}

.ocr-wrap-imgbox .ocr-wrap-imginner{
	width:18.666666rem;
	height: 10.791666rem;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.ocr-wrap .ocr-img {
	width:18.666666rem;
	height: 10.791666rem;
}
.ocr-wrap .icon-takephoto {
	display: block;
	width: 2.541666rem;
	height: 2.25rem;
	background: url(../images/icon_photo.png) no-repeat;
	background-position:center center;
	background-size:100% 100% ;
	vertical-align: middle;
	position: absolute;
	top: 4.291666rem;
	left: 8.083333rem;
	z-index: 10;
}

/* 车辆列表 驾驶证列表   my_carinfo.html/ my_drivercard.html*/
.info-list {
	
}

.info-list .info-item{
	width: 100%;
	background: #fff;
	margin-bottom: 0.833333rem;
	color: #333;
}
.info-item-info {
	height: 4.166666rem;
	line-height: 4.166666rem;
	font-size: 1.25rem;
	border-bottom: 1px solid #f4f4f4;
}


.item-action {
	height: 3.333333rem;
	line-height:3.333333rem;
	font-size: 1rem;
	
}
.item-action a {
	display: inline-block;
	/*height: 1.333333rem;
	line-height:1.333333rem;*/
}

.item-action .select {
	
}

.item-action .select .icon-select{
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	margin-right:1rem;
	background: url(../images/icon_selected.png) no-repeat;
	background-position:center;
	background-size:100% 100% ;
	vertical-align: middle;
}
.item-action .select .icon-null{
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	margin-right:1rem;
	background: url(../images/icon_null.png) no-repeat;
	background-position:center;
	background-size:100% 100% ;
	vertical-align: middle;
}
.item-action .edit em{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 1rem;
	background: url(../images/icon_edit.png) no-repeat;
	background-position:center;
	background-size:100% 100% ;
	vertical-align: middle;
}
.item-action .del em{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0 1rem;
	background: url(../images/icon_del.png) no-repeat;
	background-position:center;
	background-size:100% 100% ;
	vertical-align: middle;
}

/*事故查询 accident-search.html
 ------------------------------*/
.tab-btn{
	height: 4.166666rem;
	line-height: 4.166666rem;
	text-align: center;
	background: #fff;
	font-size: 1.25rem;
}
.tab-btn a{
	margin: 0;
	padding: 0;
	color: #333;
	width: 50%;
	text-align: center;
	position: relative;
}
.tab-btn a.active:after{
	content: '';
	position: absolute;
	bottom: -0.1rem;
	left: 50%;
	margin-left: -1.25rem;
	background: #48B4FF;
	width: 2.5rem;
	height: 0.25rem;
}
.accident-search-page .tab-content{
	display: none;
}
.accident-search-page .tab-content.active{
	display: block;
}
.accident-search-page .tab-content .tab-content-item{
	height: 10rem;
	background: #fff;
	margin-top: 0.833333rem;
}
.accident-search-page .tab-content .tab-content-item ul{
	padding: 1.166666rem 0 1.166666rem 1.291666rem;
	font-size: 1rem;
	color: #333;
}
.accident-search-page .tab-content .tab-content-item ul li{
	margin-bottom: 1.208333rem;
	height: 1rem;
}
.accident-search-page .tab-content .tab-content-item ul li:last-child{
	margin-bottom: 0;
}
.accident-search-page .tab-content .tab-content-item ul li .accident-info{
	margin-left: 0.5rem;
}
.accident-search-page .tab-content .tab-content-item .accident-status img{
	width: 6.25rem;
	height: 6.25rem;
	margin-top: 1.875rem;
	margin-right: 3.333333rem;
}
.accident-search-page .tab-content-btn{
	width: 100%;
	position: fixed;
	z-index: 4;
	bottom: 2.416666rem;
	left: 0;
	text-align: center;
}
.accident-search-page .tab-content-btn span{
	display: inline-block;
	width: 16.666666rem;
	height: 3.75rem;
	line-height: 3.75rem;
	background: #38ADFF;
	color: #fff;
	font-size: 1.25rem;
	text-align: center;
	border-radius:1.875rem ;
	box-shadow:0px 0px 2px rgba(56,173,255,0.2);
}
#undeal .accident-status a{
	display: inline-block;
	margin-top: 1.166666rem;
	margin-right: 0.875rem;
	font-size: 1rem;
	color: #48B4FF;
}



/*安全提示safetip.html*/
.safetip-page .safetip-content ul{
	padding: 1.666666rem;
}
.safetip-page .safetip-content li{
	float: left;
}
.safetip-page .safetip-content li img{
	width: 13.333333rem;
	height: 8.375rem;
}
.safetip-page .safetip-content li.right{
	margin-left: 1.25rem;
}
.safetip-page .safetip-content li:nth-child(1),
.safetip-page .safetip-content li:nth-child(2){
	margin-bottom: 1.25rem;
}
.safetip-page .btn{
	margin-top: 10.875rem;
}


/*温馨提示warmtip.html*/
.warmtip-page .warmtip-content{
	padding: 1.458333rem 0 0 1.75rem;
}
.warmtip-page .warmtip-content p{
	color: #F56954;
	font-size: 1.166666rem;
	margin-bottom: 1.458333rem;
}
.warmtip-page .warmtip-content li{
	height: 1.333333rem;
	margin-bottom: 1.041666rem;
}
.warmtip-page .warmtip-content li img{
	width: 1.5rem;
	height: 1.333333rem;
}
.warmtip-page .warmtip-content li span{
	line-height: 1.333333rem;
	color: #333;
	font-size: 1.166666rem;
	margin-left: 0.583333rem;
}
.warmtip-page .warm-accident{
	overflow: hidden;
	height: 9.208333rem;
	width: 100%;
	background: url('../images/main/car2.png');
	background-position: -1.25rem 0;
	background-size: 100% 100%;
}
.warmtip-page .warm-btn{
	margin-top: 1.666666rem;
}
.warmtip-page .warm-btn .btn:last-child{
	margin-top: 1.666666rem;
	background: #F56954;
}



/*选择事故类型accidenttype.html*/
.accident-type-page .accident-type-content li{
	height: 12.5rem;
	width: 100%;
	border-bottom: 0.416666rem solid #F3F3F3;
}
.accident-type-page .accident-type-content li img{
	width: 15.791666rem;
	height: 8.916666rem;
	margin-top: 1.791666rem;
	margin-left: 1.75rem;
}
.accident-type-page .accident-type-content li span{
	display: inline-block;
	width: 8.333333rem;
	height: 2.833333rem;
	background: #e5e5e5;
	text-align: center;
	line-height: 2.833333rem;
	border-radius:34px ;
	color: #fff;
	margin-left: 3.166666rem;
	margin-top: 4.833333rem;
}
.accident-type-page .accident-type-content li:nth-child(2) img,
.accident-type-page .accident-type-content li:nth-child(3) img{
	height: 4.916666rem;
	margin-top: 3.791666rem;
}
.accident-type-page .accident-type-content li:nth-child(2) span{
	background: #38ADFF;
}
.accident-type-page .accident-type-content li:last-child{
	border: none;
}
 
/*事故审核页面accidentaudit.html*/
.audit-page .audit-content{
	height: 20rem;
	width: 100%;
	box-sizing: border-box;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#45B1FE), to(#7DC7FA));
	padding-top: 2.833333rem;
}
.audit-page .audit-content .audit-no{
	height: 11.416666rem;
	width: 11.416666rem;
	background: url('../images/main/round.png');
	background-size: 100% 100%;
	margin: auto;
	text-align: center;
}
.audit-page .audit-content .audit-no img{
	margin-top: 2.5rem;
	display:inline-block;
	width: 4.166666rem;
	height: 4.125rem;
}
.audit-page .audit-content .audit-no p{
	color: #fff;
	font-size: 1.333333rem;
}
.audit-page .audit-content span{
	margin-top: 1.25rem;
	display: block;
	width: 100%;
	height: 4.583333rem;
	background: url('../images/main/cloud.png');
	background-size: 100% 100%;
	margin-bottom: 2.708333rem;
}
.audit-page>p{
	text-align: center;
	font-size: 1.333333rem;
	color: #666;
}
.audit-page>p.pla{
	color: #999;
	margin-top: 1rem;
}
.audit-page .audit-btn .btn{
	background: #F56954;
	margin-top: 5.708333rem;
}
.audit-page .audit-btn>a{
	margin-top: 7.166666rem;
	display: block;
	text-align: center;
	color: #F56954;
	text-decoration: underline;
}