/*选择事故类型choosetype.html*/
.choose-type-page .police{
	background: #fff;
}
.choose-type-page .choose-type-content>div{
	background: url('../images/main/self.png');
	width: 28.625rem;
	height: 11.958333rem;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 1.458333rem;
}
.choose-type-page .choose-type-content .choose-online{
	background: url('../images/main/online.png');
	background-size: 100% 100%;
	margin-top: 1.291666rem;
}
.choose-type-page .choose-type-content .self-content{
	margin-right: 1.833333rem;
}
.choose-type-page .choose-type-content .self-content p{
	color: #48B4FF;
	font-size: 1.166666rem;
	text-align: center;
	margin-top: 3.791666rem;
	margin-bottom: 1.458333rem;
}
.choose-type-page .choose-type-content .self-content span{
	display: block;
	width: 11.666666rem;
	height: 1.666666rem;
	background: #48B4FF;
	color: #fff;
	text-align: center;
	border-radius:0.833333rem ;
	line-height: 1.666666rem;
}
.choose-type-page .choose-type-content .online-content{
	margin-left: 2.708333rem;
}
.choose-type-page .choose-type-content .online-content p{
	color: #F37765;
	font-size: 1.166666rem;
	text-align: center;
	margin-top: 3.791666rem;
	margin-bottom: 1.458333rem;
}
.choose-type-page .choose-type-content .online-content span{
	display: block;
	width: 11.666666rem;
	height: 1.666666rem;
	background: #F37765;
	color: #fff;
	text-align: center;
	border-radius:0.833333rem ;
	line-height: 1.666666rem;
}


/*输入证件信息entrymsg.html*/
.entry-content img{
	display: block;
	width: 13.125rem;
	height: 7.958333rem;
	margin: auto;
	margin-top: 8rem;
}
.entry-content p{
	font-size: 1.333333rem;
	color: #333;
	text-align: center;
	margin-top: 1.166666rem;
}
.entry-content .btn{
	margin-top: 2.375rem;
}
.entry-content .btn img{
	display: inline-block;
	width: 1.333333rem;
	height: 1.333333rem;
	margin: 0;
	vertical-align: middle;
	margin-right: 0.208333rem;
	margin-bottom: 0.32rem;
}
.entry-content .btn span{
	display: inline-block;
}

/*上传证件照片subcards.html*/
.subcards-page .subcards-content{
	width: 100%;
	box-sizing: border-box;
	padding: 1.458333rem 1.458333rem 0;
}
.subcards-page .subcards-content .sub-pic{
	position: relative;
	box-sizing: border-box;
	width: 28.533333rem;
	height: 20.833333rem;
	padding: 1.083333rem 0.75rem;
	border: 1px solid #E5E5E5;
	border-radius: 0.166666rem;
}
.subcards-page .subcards-content .sub-pic li{
	width: 13.041666rem;
	float: left;
}
.subcards-page .subcards-content .sub-pic li:nth-child(2n){
	margin-left: 0.75rem;
}
.subcards-page .subcards-content .sub-pic li img{
	width: 13.041666rem;
	height: 7.541666rem;
	border-radius:0.25rem;
}
.subcards-page .subcards-content .sub-pic li p{
	text-align: center;
	color: #48B4FF;
	font-size: 0.916666rem;
	margin-top: 0.5rem;
	margin-bottom: 0.541666rem;
}
.subcards-page .subcards-content .sub-picture{
	background: url('../images/common/up.png');
	position: absolute;
	width: 5rem;
	height: 4.541666rem;
	background-size: 100% 100%;
	top:50%;
	left: 50%;
	margin-left: -2.5rem;
	margin-top: -2.083333rem;
}
.subcards-page .subcards-content .sub-picture input{
	opacity: 0;
	width: 100%;
	height: 100%;
}
.subcards-page .btn{
	margin-top: 5.5rem;
}

/*上传事故照片upload.html*/
.upload-page .upload-content .msg li{
	height: 4.166666rem;
	width: 100%;
	line-height: 4.166666rem;
	border-bottom: 1px solid #CCCCCC;
}
.upload-page .upload-content .msg li span:first-child{
	font-size: 1.25rem;
	margin-left: 1.666666rem;
	color: #333;
}
.upload-page .upload-content .msg li span:nth-child(2){
	color: #333;
	font-size: 1.25rem;
	margin-left: 1.666666rem;
}
.upload-page .upload-content .msg li em{
	background: url('../images/common/next.png');
	width: 0.708333rem;
	height: 1.25rem;
	background-size: 100% 100%;
	margin-top: 1.458333rem;
	margin-right: 1.666666rem;
}
.upload-page .upload-content .msg li:nth-child(2) span:nth-child(2n){
	margin-left: 0.958333rem;
	display: inline-block;
	width: 1.333333rem;
	height: 1.333333rem;
	background: url('../images/common/right.png');
	background-size: 100% 100%;	
}
.upload-page .upload-content .msg li:nth-child(2) span:nth-child(2n).active{
	background: url('../images/common/bigo.png');
	background-size: 100% 100%;	
}
.upload-page .upload-content .msg li:nth-child(2) span:nth-child(4){
	display: inline-block;
	width: 1.333333rem;
	height: 1.333333rem;
	margin-left: 2.083333rem;
}
.upload-page .upload-content .msg li:nth-child(2) span:nth-child(3),
.upload-page .upload-content .msg li:nth-child(2) span:nth-child(5){
	margin-left: 0.666666rem;
	font-size: 1.25rem;
}
.upload-page .upload-content .msg li:nth-child(3) span:nth-child(2){
	position: relative;
}

.upload-page .upload-content .msg li:nth-child(3) span:nth-child(2):after{
	content: '';
	position: absolute;
	top: 0;
	right: -1.958333rem;
	height: 1.666666rem;
	width: 1px;
	background: #ccc;
}
.upload-page .upload-content .msg li:nth-child(3) span:last-child{
	color: #333;
	font-size:1.25rem;
	margin-left: 3.75rem;
}
.upload-page .upload-content .uploadpicture{
	margin-bottom: 2.083333rem;
}
.upload-page .upload-content .uploadpicture:last-child{
	margin-bottom: 10rem;
}
.upload-page .upload-content .uploadpicture li{
	width: 13.75rem;
	height: 8.333333rem;
	text-align: center;
	position: relative;
	float: left;
	margin-left: 1.333333rem;
	margin-top: 1.333333rem;
}
.upload-page .upload-content .uploadpicture li:last-child{
	margin-left: 1rem;
}
.upload-page .upload-content .uploadpicture li>p{
	font-size: 1.25rem;
	color: #999;
	margin-top: 0.625rem;
	margin-bottom: 0.708333rem;
}
.upload-page .upload-content .uploadpicture li>.box{
	height: 8.333333rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	position: relative;
}
.upload-page .upload-content .uploadpicture li>.box em{
	position: absolute;
	display: block;
	width: 3rem;
	height: 2.916666rem;
	background: url('../images/main/must.png');
	background-size: 100% 100%;
	top: 0;
	right: 0;
}
.upload-page .upload-content .uploadpicture li>.box>img{
	display:inline-block;
	width: 10.291666rem;
	height: 3.791666rem;
	margin-top: 2.625rem;
}
.upload-page .upload-content .uploadpicture .upload-msg{
	position: absolute;
	width: 2.5rem;
	height: 2.25rem;
	background: url('../images/main/camera.png');
	background-size: 100% 100%;
	top: 50%;
	left: 50%;
	margin-left: -1.25rem;
	margin-top: -1.125rem;
}
.upload-page .upload-content .uploadpicture .upload-msg input{
	opacity: 0;
}
.upload-page .btn{
	position: fixed;
	bottom: 2.291666rem;
	left: 50%;
	margin-left: -8.333333rem;
}

/*事故地点定位map.html*/
.map-page .map-content{
	height: 42.958333rem;
	width: 100%;
}
.map-page #map{
	height: 38.583333rem;
	width: 100%;
}
.map-page .map-content .accident-address{
	height: 4.166666rem;
	line-height: 4.166666rem;
}
.map-page .map-content .accident-address span:first-child{
	margin-left: 1.666666rem;
	color: #333333;
	font-size: 1.25rem;
}
.map-page .map-content .accident-address span:nth-child(2){
	margin-left: 3.75rem;
	font-size: 1.25rem;
	color: #666;
}
.map-page .map-content .accident-address em{
	width: 0.708333rem;
	height: 1.25rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	margin-top: 1.458333rem;
	margin-right: 1.666666rem;
}
.map-page .btn{
	width: 29.25rem;
	height: 3.75rem;
	border-radius: 0.166666rem;
	margin-top: 1.666666rem;
}

/*本方信息mymsg.html*/
.mymsg-page{
	overflow: hidden;
}
.mymsg-content .form{
	padding: 0;
	background: #fff;
	padding-left: 1.666666rem;
}
.mymsg-content .form:first-child{
	padding-left: 0;
}
.mymsg-content .form .form-group{
	margin: 0;
	padding: 0;
	height: 4.166666rem;
	line-height: 4.166666rem;
}
.mymsg-content .form .form-group:first-child{
	height: 5rem;
	line-height: 5rem;
	position: relative;
	border-bottom: 0;
}
.mymsg-content .form .form-group:first-child:after{
	position: absolute;
	content: '';
	height: 1px;
	width: 31.25rem;
	bottom: 0;
	left: -1.666666rem;
	background: #F5F5F5;
}
.mymsg-content .form .form-group .yzm-btn{
	position: relative;
	width: 2rem;
	height: 1.416666rem;
	background: url('../images/ar -1.png');
	background-size: 100% 100%;
	margin-top: 1.416666rem;
}
.mymsg-content .form .form-group .yzm-btn>input{
	width: 2rem;
	height: 1.416666rem;
	position: absolute;
}
.mymsg-content .form .form-group:first-child em{
	margin-left: 0.416666rem;
	color: #333;
	font-size: 1.25rem;
	position: relative;
}
.mymsg-content .form .form-group:first-child em:before{
	content: '';
	position: absolute;
	top: -0.208333rem;
	left: -0.833333rem;
	background: #38ADFF;
	width: 0.166666rem;
	height: 1.666666rem;
}
.mymsg-content .form .form-group span{
	margin-left: 0;
	font-size: 1.25rem;
	color: #333;
}
.mymsg-content .form .form-group span:nth-child(2){
	margin-left: 22%;
	text-align: right;
	color: #333;
}
.mymsg-content .form .form-group>input{
	margin-top: 1.333333rem;
}
.mymsg-content .form .form-group:nth-child(6) em,
.mymsg-content .form .form-group:nth-child(7) em{
	display: inline-block;
	width: 0.708333rem;
	height: 1.25rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	margin-top: 1.458333rem;
	margin-right: 1.666666rem;
}
.mymsg-content .form .form-group:nth-child(2)>input,
.mymsg-content .form .form-group:nth-child(5)>input{
	text-align: right;
	margin-left: 10%;
}
.mymsg-btn{
	width: 100%;
	height: 3.75rem;
	margin-top: 13.958333rem;
}
.mymsg-btn .box{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
}
.mymsg-btn .box a{
	display:inline-block;
	height: 100%;
	width: 11.666666rem;
	border-radius: 1.875rem;
	color: #fff;
	line-height: 3.75rem;
	font-size: 1.25rem;
	background: #F56954;
}
.mymsg-btn .box:last-child a{
	background: #38ADFF;
}

/*输入证件信息inputmsg.html*/
.input-msg-content .form{
	padding-left: 1.666666rem;
}
.input-msg-content .form:first-child{
	margin-bottom: 0.833333rem;
}
.input-msg-content .form .form-group{
	height: 4.166666rem;
	line-height: 4.166666rem;
	padding: 0 1rem 0 0;
}
.input-msg-content .form .form-group span{
	font-size: 1.25rem;
	color: #333;
}
.input-msg-content .form .form-group p{
	font-size: 1.25rem;
	color: #333333;
}
.input-msg-content .form .form-group:first-child{
	height: 5rem;
	line-height: 5rem;
}

.input-msg-content .form .form-group:first-child span{
	margin-left: 0.416666rem;
	position: relative;
}
.input-msg-content .form .form-group:first-child span:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -0.833333rem;
	left:-0.833333rem;
	height: 1.666666rem;
	width: 0.166666rem;
	background: #48B4FF;
}
.input-msg-content .form .form-group:first-child em{
	height: 1.25rem;
	width: 0.708333rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	margin-top: 1.875rem;
}
.input-msg-page .inputmsg-btn{
	width: 100%;
	height: 6.666666rem;
	text-align: center;
	background: #fff;
	box-sizing: border-box;
	padding-top: 1.5rem;
	border-top: 1px solid #F4F4F4;
}
.input-msg-page .inputmsg-btn.active{
	display: none;
}
.input-msg-page .inputmsg-btn a{
	display: block;
	width: 16.666666rem;
	height: 3.75rem;
	text-align: center;
	margin: auto;
	font-size: 1.25rem;
	color: #fff;
	text-align: center;
	background: #48B4FF;
	line-height: 3.75rem;
	border-radius: 1.875rem;
}
.input-msg-page .inputmsg-btn a img{
	width: 1.333333rem;
	height: 1.333333rem;
	margin-top: 1.108333rem;
	margin-right: 0.291666rem;
}
.input-msg-page .btn{
	background: #CCCCCC;
	position: fixed;
	bottom: 2.291666rem;
	left: 50%;
	margin-left: -8.333333rem;
}
.input-msg-page .btn.active{
	background: #48B4FF;
}

/*上传证件照片uploadpicture.html*/
.uploadpicture-content{
	width: 28.333333rem;
	height: 20.833333rem;
	border: 1px solid #E5E5E5;
	border-radius: 0.166666rem;
	margin: auto;
	margin-top: 1.458333rem;
	box-sizing: border-box;
	position: relative;
}
.uploadpicture-content ul li{
	float: left;
}
.uploadpicture-content ul li img{
	width: 13.041666rem;
	height: 7.541666rem;
	display: block;
}
.uploadpicture-content ul li p{
	text-align: center;
	color: #48B4FF;
	font-size: 0.916666rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
.uploadpicture-content ul li:nth-child(1),
.uploadpicture-content ul li:nth-child(3){
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
.uploadpicture-content ul li:nth-child(1),
.uploadpicture-content ul li:nth-child(2){
	margin-top: 1.083333rem;
}
.uploadpicture-content .upload-btn{
	background: url('../images/main/camera.png');
	width: 5rem;
	height: 4.541666rem;
	background-size: 100% 100%;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -2.5rem;
	margin-top: -2.291666rem;
}
.uploadpicture-page .btn{
	margin-top: 5.5rem;
}

/*选择事故chooseaccident.html*/
.chooseaccident-content{
	margin-bottom: 4.166666rem;
}
.chooseaccident-content ul li{
	box-sizing: border-box;
	width: 100%;
	padding: 0.833333rem 1.875rem 0.833333rem 1.125rem;
	height: 8.333333rem;
	line-height: 8.333333rem;
	border-bottom: 1px solid #ccc;
}
.chooseaccident-content ul li img{
	width: 7.5rem;
	height: 6.666666rem;
}
.chooseaccident-content ul li span{
	width: 16.791666rem;
	color: #333333;
	font-size: 1rem;
	line-height: 1.208333rem;
	margin-left: 1rem;
	margin-top: 2.125rem;
}
.chooseaccident-content ul li em{
	width: 1.333333rem;
	height: 1.333333rem;
	margin-top: 2.666666rem;
	background: url('../images/common/right.png');
	background-size: 100% 100%;
}
.chooseaccident-content ul li em.active{
	width: 1.333333rem;
	height: 1.333333rem;
	background: url('../images/common/bigo.png');
	background-size: 100% 100%;
	margin-top: 2.666666rem;
}
.chooseaccident-modal{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.chooseaccident-modal .modal-content{
	height: 29.166666rem;
	width: 21.25rem;
	background: #FFFFFF;
	margin: auto;
	margin-top: 10.291666rem;
	border-radius: 0.333333rem;
	overflow: hidden;
}
.chooseaccident-modal .modal-content .title{
	height: 3.333333rem;
	width: 100%;
	background: #38ADFF;
	border-radius: 0.333333rem 0.333333rem 0 0;
	font-size: 1.333333rem;
	color: #fff;
	text-align: center;
	line-height: 3.333333rem;
}
.chooseaccident-modal .modal-content .choose{
	height: 3.75rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0.583333rem 2.416666rem 0.541666rem 0.958333rem;
}
.chooseaccident-modal .modal-content .choose span{
	font-size: 1.083333rem;
	color: #333;
}
.chooseaccident-modal .modal-content img{
	width: 21.25rem;
	height: 18.75rem;
}
.chooseaccident-modal .modal-content .modal-btn{
	width: 100%;
	height: 3.333333rem;
}
.chooseaccident-modal .modal-content .modal-btn a.active{
	color: #38ADFF;
}
.chooseaccident-modal .modal-content .modal-btn a{
	width: 50%;
	display: inline-block;
	line-height: 3.333333rem;
	text-align: center;
	color: #333;
	font-size: 1.25rem;
}
.chooseaccident-modal .modal-content .modal-btn a:first-child{
	position: relative;
}
.chooseaccident-modal .modal-content .modal-btn a:first-child:after{
	content: '';
	position: absolute;
	top: 0.625rem;
	right: 0;
	width: 1px;
	height: 2.083333rem;
	background: #E5E5E5;
}
.chooseaccident-page .btn{
	position: fixed;
	bottom: 2.291666rem;
	left: 50%;
	margin-left: -8.333333rem;
}
/*事故定责fix-duty.html*/
.fix-duty-content .mymsg-content .form{
	margin-bottom: 0.833333rem;
}
.fix-duty-content .mymsg-content .form .form-group em{
	margin-right: 1rem;
}
.fix-duty-content .mymsg-content .form .form-group strong{
	width: 0.708333rem;
	height: 1.25rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	margin-top: 1.458333rem;
	margin-right: 1rem;
}
.fix-duty-content .mymsg-content .form .form-group:last-child em{
	width: 6.666666rem;
	height: 2.5rem;
	border-radius: 0.333333rem;
	background: #F43C3C;
	color: #FFFFFF;
	font-size: 1.25rem;
	text-align: center;
	line-height: 2.5rem;
	margin: 0;
	margin-top: 0.958333rem;
	margin-right: 1rem;
}
.fix-duty-content .mymsg-content .form .form-group:last-child em.active{
	background: #38ADFF;
}
.fix-duty-content .mymsg-content .form:first-child{
	position: relative;
}
.fix-duty-content .mymsg-content .form:first-child .form-group em{
	background: none;
	color: #333;
	margin-left: 2.083333rem;
	/*vertical-align: top;*/
	margin-top: 1.083333rem;
}
.fix-duty-content .mymsg-content .form:first-child .form-group p{
	display: inline-block;
	height: 3.125rem;
	width: 19.75rem;
	font-size: 1.25rem;
	color: #333;
	line-height: 1.5625rem;
	margin-top: 0.958333rem;
	margin-right: 2.583333rem;
}
.fix-duty-content .mymsg-content .form:first-child .form-group span{
	width: 0.708333rem;
	height: 1.25rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 1rem;
	margin-top: -0.625rem;
}
.fix-duty-content .mymsg-content .form:last-child{
	margin-bottom: 6.25rem;
}

/*短信认证msg_certificati.html*/
.msg-certificati-page .police{
	height: 10.833333rem;
}
.msg-certificati-page .police .police-content li{
	font-size: 1.166666rem;
	color: #333;
	height: 1.166666rem;
	line-height: 1.166666rem;
	margin-bottom: 1.25rem;
}
.msg-certificati-page .police .police-content li:first-child{
	margin-top: 1rem;
}
.msg-certification-content .form{
	padding-left: 1.666666rem;
}
.msg-certification-content .form .form-group:first-child{
	position: relative;
	border-bottom: 0;
}
.msg-certification-content .form .form-group:first-child:after{
	content: '';
	position: absolute;
	height: 1px;
	width: 31.25rem;
	bottom: 0;
	left: -1.666666rem;
	background: #f5f5f5;
}
.msg-certification-content .form:last-child{
	margin-top: 0.833333rem;
	margin-bottom: 6.25rem;
}
.msg-certification-content .form .form-group em{
	margin-right: 1rem;
}
.msg-certification-content .form .form-group:first-child em{
	margin-left: 0.416666rem;
	position: relative;
}
.msg-certification-content .form .form-group:first-child em:before{
	content: '';
	height: 1.666666rem;
	width: 0.166666rem;
	background: #38ADFF;
	position: absolute;
	top: 0;
	left: -0.833333rem;
}
.msg-certification-content .form .form-group:first-child div{
	width: 0.708333rem;
	height: 1.25rem;
	background: url('../images/common/next.png');
	background-size: 100% 100%;
	margin-right: 1rem;
	margin-top: 0.416666rem;
}
.msg-certification-content .form .form-group .msg-btn{
	width: 6.666666rem;
	height: 2.5rem;
	background: #38ADFF;
	text-align: center;
	color: #fff;
	line-height: 2.5rem;
	border-radius: 0.333333rem;
}
.msg-certificati-page .btn{
	position: fixed;
	bottom: 2.083333rem;
	left: 50%;
	margin-left: -8.333333rem;
}
/*基本信息basic_msg.html*/
.basic-msg-page .basic-msg-content .form{
	padding-left: 1.666666rem;
}
.basic-msg-page .basic-msg-content .form .form-group em{
	margin-right: 1rem;
	font-size: 1.25rem;
	color: #333;
}
.basic-msg-page .basic-msg-content .form .form-group span{
	font-size: 1.25rem;
	color: #333;
}
.basic-msg-page .basic-msg-content .form .form-group:last-child span{
	width: 100%;
}
.basic-msg-page .basic-msg-content .accident-img{
	width: 100%;
	height: 16.666666rem;
}
.basic-msg-page .basic-msg-content .accident-img:last-child{
	margin-bottom: 6.25rem;
}
.basic-msg-page .basic-msg-content .accident-img img{
	display: block;
	width: 29.25rem;
	height: 15rem;
	margin: auto;
	margin-top: 0.833333rem;
}
.basic-msg-btn{
	position: fixed;
	bottom: 2.291666rem;
	left: 0;
	width: 100%;
	height: 3.75rem;
}
.basic-msg-btn a{
	float: left;
	width: 50%;
	text-align: center;
}
.basic-msg-btn a span{
	display: inline-block;
	width: 11.666666rem;
	height: 3.75rem;
	background: #38ADFF;
	border-radius: 1.875rem;
	line-height: 3.75rem;
	color: #fff;
}
